.App {
  text-align: center;
  max-width: 390px;
  margin: auto;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  height: 500px;
  padding-top: 40px;
  box-sizing: border-box;
}

h1 {
  margin-top: 20px;
  font-size: 24px;
}
ul {
  margin-top: 10px;
}

li {
  margin-bottom: 5px;
}
input {
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  color: #333333;
  /* vertical-align: bottom; */
  margin: 10px auto;
}
label {
  color: #cccccc;
}
p {
  margin-top: 5px;
  font-size: 10px;
}
